<a href="https://colab.research.google.com/github/JackSandford/ECK/blob/main/Worksheets/1_Data_retrieval.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data retrieval
---

Examples of data being retrieved from a range of sources

## From a web page
---

The code below reads all the data tables from the Wikipedia page on Glasgow.  The 8th table on the page shows population data over a period of centuries.

The code reads the data from the page into a list of datatables.  The index [7] is used to access the 8th table in the list.  Change the index to see other data tables.  Use len(datatables) to find out how many tables are in the list.

In [6]:
import pandas as pd

def get_data():
  datatables = pd.read_html('https://en.wikipedia.org/wiki/Glasgow#Climate')
  #  change the line below to look at other tables, add the line print(len(datatables)) to see how many tables there are
  print(len(datatables))
  df = datatables[14]  #Glasgow population data
  return df



# run and test the get_data() function, test visually - does it match the data on the web page
get_data()

26

,Articles relating to Glasgow,Articles relating to Glasgow.1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,vteAreas of GlasgowNorth of theRiver ClydeEast...,vteAreas of GlasgowNorth of theRiver ClydeEast...,NaN,NaN,NaN
1,vteAreas of Glasgow,vteAreas of Glasgow,NaN,NaN,NaN
2,North of theRiver Clyde,East End Auchenshuggle Baillieston Barlanark B...,NaN,NaN,NaN
3,East End,Auchenshuggle Baillieston Barlanark Barrachnie...,NaN,NaN,NaN
4,North and Centre,Anderston Balornock Barmulloch Blochairn Blyth...,NaN,NaN,NaN
5,West End,Anniesland Blairdardie Broomhill Dowanhill Dru...,NaN,NaN,NaN
6,South of theRiver Clyde,South-west Bellahouston Cardonald Cessnock Cor...,NaN,NaN,NaN
7,South-west,Bellahouston Cardonald Cessnock Corkerhill Cow...,NaN,NaN,NaN
8,South-centre and South-east,Arden Auldhouse Battlefield Carmunnock Carnwad...,NaN,NaN,NaN
9,vteCouncil areas of Scotland,vteCouncil areas of Scotland,NaN,NaN,NaN
10,Aberdeen council body Aberdeenshire Angus coun...,Aberdeen council body Aberdeenshire Angus coun...,NaN,NaN,NaN
11,"List by area, population, density","List by area, population, density",NaN,NaN,NaN
12,vteCore Cities Group,vteCore Cities Group,NaN,NaN,NaN
13,England,Birmingham Bristol Leeds Liverpool Manchester ...,NaN,NaN,NaN
14,Scotland,Glasgow,NaN,NaN,NaN
15,Wales,Cardiff,NaN,NaN,NaN
16,vte Cities of the United Kingdom,vte Cities of the United Kingdom,NaN,NaN,NaN
17,England,Bath Birmingham Bradford Brighton and Hove Bri...,NaN,NaN,NaN
18,Scotland,Aberdeen Dundee Edinburgh Glasgow Inverness Pe...,NaN,NaN,NaN
19,Wales,Bangor Cardiff Newport St Asaph St Davids Swan...,NaN,NaN,NaN
20,Northern Ireland,Armagh Belfast Derry Lisburn Newry,NaN,NaN,NaN
21,vteCommonwealth Games host cities,vteCommonwealth Games host cities,NaN,NaN,NaN
22,1930: Hamilton 1934: London 1938: Sydney 1950:...,1930: Hamilton 1934: London 1938: Sydney 1950:...,NaN,NaN,NaN
23,1930: Hamilton 1934: London 1938: Sydney 1950:...,1958: Cardiff 1962: Perth 1966: Kingston 1970:...,1978: Edmonton 1982: Brisbane 1986: Edinburgh ...,1998: Kuala Lumpur 2002: Manchester 2006: Melb...,2018: Gold Coast 2022: Birmingham 2026: State ...
24,vteEuropean Capitals of Culture,vteEuropean Capitals of Culture,NaN,NaN,NaN
25,.mw-parser-output .nobold{font-weight:normal}1...,.mw-parser-output .nobold{font-weight:normal}1...,NaN,NaN,NaN
26,vteEuropean Capitals of Sport,vteEuropean Capitals of Sport,NaN,NaN,NaN
27,2001 Madrid 2002 Stockholm 2003 Glasgow 2004 A...,2001 Madrid 2002 Stockholm 2003 Glasgow 2004 A...,NaN,NaN,NaN

## From a local file
---

You can upload from a local file using the code below.  uploaded = file.upload() will open a file chooser and you can choose the data file from there.  After that, just use the file name to read from it.  

The file exists while the notebook is running, so should only be uploaded once.  If you need to access again, cancel the upload.

For this exercise you will need a copy of an Excel file.  To get a copy of this file "public_use-talent-migration.xlsx" go to this page: https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx and click on the Download button.  You will now have a copy in your Downloads folder.

In [7]:
import pandas as pd
from google.colab import files
import io

def get_data():
  # upload a set of chosen files then read a specified file
  uploaded = files.upload()
  df = pd.read_excel(uploaded['public_use-talent-migration.xlsx'],sheet_name="Industry Migration")
  return df



# run and test the get_data() function, test visually - does it match the data on the web page
get_data()

Saving public_use-talent-migration.xlsx to public_use-talent-migration.xlsx

,country_code,country_name,wb_income,wb_region,isic_section_index,isic_section_name,industry_id,industry_name,net_per_10K_2015,net_per_10K_2016,net_per_10K_2017,net_per_10K_2018,net_per_10K_2019
0,ae,United Arab Emirates,High income,Middle East & North Africa,C,Manufacturing,1,Defense & Space,378.74,127.94,8.20,68.51,49.55
1,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,3,Computer Hardware,100.97,358.14,112.98,149.57,182.22
2,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,4,Computer Software,1079.36,848.15,596.48,409.18,407.41
3,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,5,Computer Networking,401.46,447.39,163.99,236.69,188.07
4,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,6,Internet,1840.33,1368.42,877.71,852.39,519.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5290,zw,Zimbabwe,Low income,Sub-Saharan Africa,B,Mining and quarrying,56,Mining & Metals,257.36,187.70,-17.45,70.60,-18.30
5291,zw,Zimbabwe,Low income,Sub-Saharan Africa,P,Education,68,Higher Education,190.84,50.76,-68.74,-234.59,-304.36
5292,zw,Zimbabwe,Low income,Sub-Saharan Africa,O,Public administration and defence; compulsory ...,74,International Affairs,25.23,-46.12,214.29,311.03,-55.88
5293,zw,Zimbabwe,Low income,Sub-Saharan Africa,J,Information and communication,96,Information Technology & Services,46.65,35.93,-142.64,-108.16,-213.82
5294,zw,Zimbabwe,Low income,Sub-Saharan Africa,S,Other service activities,100,Non-Profit Organization Management,133.56,88.48,6.96,-39.32,-92.51

## From a csv file hosted on Github.com
---

The code below reads the data table stored in a Comma Separated Values file (this is a text file containing rows of data with each column within the row separated from the next column by a comma).  

If you were using Jupyter Notebooks on your device, the url could be replaced with the path to the CSV file.

In [8]:
import pandas as pd
url = "https://raw.githubusercontent.com/futureCodersSE/working-with-data/main/Data%20sets/Paisley-Weather-Data.csv"
df = pd.read_csv(url)
df

,yyyy,mm,tmax (degC),tmin (degC),af (days),rain (mm),sun (hours),status
0,1959,1,4,-2,25,40.9,54.1,NaN
1,1959,2,6.6,2.1,10,41.8,17.8,NaN
2,1959,3,10.6,4.2,0,50.9,85.7,NaN
3,1959,4,13,5.2,0,76.3,125.1,NaN
4,1959,5,18.1,7.9,0,24,222,NaN
...,...,...,...,...,...,...,...,...
741,2020,10,12.9*,7.1*,0*,185.3*,76.8*,Provisional
742,2020,11,10.6*,6.0*,0*,142.4*,29.3*,Provisional
743,2020,12,6.9*,2.6*,8*,131.0*,31.6*,Provisional
744,2021,1,4.9*,-0.2*,14*,132.2*,51.0*,Provisional
745,2021,2,7.0*,2.3*,8*,144.3*,58.8*,Provisional

## From an Excel file hosted on Github.com
---

The code below reads the data table from a sheet in an Excel file.  If you don't specify a sheet then it will assume that you want to read the data from the first sheet in the Excel workbook (sheet_name = 0).  If you don't know the sheet name but know it is the second sheet, you can use sheet_name = 1, or 2 for the third sheet, etc.

If you were using Jupyter Notebooks on your device, the url could be replace with the path to the Excel file.

In [9]:
import pandas as pd
url = "https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true"
df = pd.read_excel(url,sheet_name="Industry Migration")
df

,country_code,country_name,wb_income,wb_region,isic_section_index,isic_section_name,industry_id,industry_name,net_per_10K_2015,net_per_10K_2016,net_per_10K_2017,net_per_10K_2018,net_per_10K_2019
0,ae,United Arab Emirates,High income,Middle East & North Africa,C,Manufacturing,1,Defense & Space,378.74,127.94,8.20,68.51,49.55
1,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,3,Computer Hardware,100.97,358.14,112.98,149.57,182.22
2,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,4,Computer Software,1079.36,848.15,596.48,409.18,407.41
3,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,5,Computer Networking,401.46,447.39,163.99,236.69,188.07
4,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,6,Internet,1840.33,1368.42,877.71,852.39,519.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5290,zw,Zimbabwe,Low income,Sub-Saharan Africa,B,Mining and quarrying,56,Mining & Metals,257.36,187.70,-17.45,70.60,-18.30
5291,zw,Zimbabwe,Low income,Sub-Saharan Africa,P,Education,68,Higher Education,190.84,50.76,-68.74,-234.59,-304.36
5292,zw,Zimbabwe,Low income,Sub-Saharan Africa,O,Public administration and defence; compulsory ...,74,International Affairs,25.23,-46.12,214.29,311.03,-55.88
5293,zw,Zimbabwe,Low income,Sub-Saharan Africa,J,Information and communication,96,Information Technology & Services,46.65,35.93,-142.64,-108.16,-213.82
5294,zw,Zimbabwe,Low income,Sub-Saharan Africa,S,Other service activities,100,Non-Profit Organization Management,133.56,88.48,6.96,-39.32,-92.51

## From an API which delivers the data in JSON format
---

The code below requests the data from the url.  This is a bit more tricky than the other ways to get the data as how you access the data will depend on how it is organised.

In this example, the data is returned as a dictionary, which will have the key 'data' against which the actual data is stored.  In the example, the data has been taken from the 'data' key/value pair and is stored in json_data. 

Again, in this example, the json_data is a list of json_objects but it only has one object in the list.  Try adding the line `print(json_data)` to see this.  

data_table is the first object in the json_data list.  Try adding the line `print(data_table)` to see this.

In this example, the data table object has three keys, 'to', 'from' and 'regions'.  The 'regions' value is the data we want to use in our dataframe, so we normalize this json data into a pandas dataframe (df), which you can see as the output.  

Each API is likely to deliver its data in a different format and so you will need to be happy to read the documentation and to inspect the data to see what keys and indexes you need to access.

For information on the format of the data, see https://carbon-intensity.github.io/api-definitions/#regional

In [10]:
import pandas as pd
import requests

url = "https://api.carbonintensity.org.uk/regional"
json_data = requests.get(url).json()['data']
data_table = json_data[0]
df = pd.json_normalize(data_table['regions'])
df
print(data_table)

{'from': '2022-09-21T08:30Z', 'to': '2022-09-21T09:00Z', 'regions': [{'regionid': 1, 'dnoregion': 'Scottish Hydro Electric Power Distribution', 'shortname': 'North Scotland', 'intensity': {'forecast': 119, 'index': 'low'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 30.1}, {'fuel': 'nuclear', 'perc': 0}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 9.4}, {'fuel': 'solar', 'perc': 0}, {'fuel': 'wind', 'perc': 60.4}]}, {'regionid': 2, 'dnoregion': 'SP Distribution', 'shortname': 'South Scotland', 'intensity': {'forecast': 62, 'index': 'low'}, 'generationmix': [{'fuel': 'biomass', 'perc': 1.3}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 15.3}, {'fuel': 'nuclear', 'perc': 20.9}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 4.7}, {'fuel': 'solar', 'perc': 1.6}, {'fuel': 'wind', 'perc': 56.3}]}, {'regionid': 3, 'dnoregion': 'Electricity North West', 'shortname': 'North West England', 'intensity': {'forecast': 117, 'index': 'low'}, 'generationmix': [{'fuel': 'biomass', 'perc': 7.3}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 27.4}, {'fuel': 'nuclear', 'perc': 42.1}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0.8}, {'fuel': 'solar', 'perc': 1.3}, {'fuel': 'wind', 'perc': 21.1}]}, {'regionid': 4, 'dnoregion': 'NPG North East', 'shortname': 'North East England', 'intensity': {'forecast': 125, 'index': 'low'}, 'generationmix': [{'fuel': 'biomass', 'perc': 20.7}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 25.4}, {'fuel': 'nuclear', 'perc': 30.8}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 1.3}, {'fuel': 'solar', 'perc': 3.8}, {'fuel': 'wind', 'perc': 18.1}]}, {'regionid': 5, 'dnoregion': 'NPG Yorkshire', 'shortname': 'Yorkshire', 'intensity': {'forecast': 274, 'index': 'high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 39.7}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 57.5}, {'fuel': 'nuclear', 'perc': 0}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 1.2}, {'fuel': 'wind', 'perc': 1.6}]}, {'regionid': 6, 'dnoregion': 'SP Manweb', 'shortname': 'North Wales & Merseyside', 'intensity': {'forecast': 216, 'index': 'high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 1.5}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 54.4}, {'fuel': 'nuclear', 'perc': 11.5}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 6.6}, {'fuel': 'solar', 'perc': 6}, {'fuel': 'wind', 'perc': 20}]}, {'regionid': 7, 'dnoregion': 'WPD South Wales', 'shortname': 'South Wales', 'intensity': {'forecast': 371, 'index': 'very high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 94.1}, {'fuel': 'nuclear', 'perc': 0}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 4.1}, {'fuel': 'wind', 'perc': 1.9}]}, {'regionid': 8, 'dnoregion': 'WPD West Midlands', 'shortname': 'West Midlands', 'intensity': {'forecast': 301, 'index': 'high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 5.3}, {'fuel': 'coal', 'perc': 3.6}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 66.2}, {'fuel': 'nuclear', 'perc': 10.2}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 1.1}, {'fuel': 'solar', 'perc': 4.7}, {'fuel': 'wind', 'perc': 8.8}]}, {'regionid': 9, 'dnoregion': 'WPD East Midlands', 'shortname': 'East Midlands', 'intensity': {'forecast': 413, 'index': 'very high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 14.4}, {'fuel': 'coal', 'perc': 15.1}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 64.4}, {'fuel': 'nuclear', 'perc': 0}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 3.6}, {'fuel': 'wind', 'perc': 2.4}]}, {'regionid': 10, 'dnoregion': 'UKPN East', 'shortname': 'East England', 'intensity': {'forecast': 285, 'index': 'high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 4.1}, {'fuel': 'coal', 'perc': 4.4}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 60.5}, {'fuel': 'nuclear', 'perc': 21.9}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 7.2}, {'fuel': 'wind', 'perc': 1.9}]}, {'regionid': 11, 'dnoregion': 'WPD South West', 'shortname': 'South West England', 'intensity': {'forecast': 309, 'index': 'high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 78.4}, {'fuel': 'nuclear', 'perc': 0}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 20.9}, {'fuel': 'wind', 'perc': 0.7}]}, {'regionid': 12, 'dnoregion': 'SSE South', 'shortname': 'South England', 'intensity': {'forecast': 345, 'index': 'very high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 3.4}, {'fuel': 'coal', 'perc': 3.3}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 78.8}, {'fuel': 'nuclear', 'perc': 0.7}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0.1}, {'fuel': 'solar', 'perc': 12.6}, {'fuel': 'wind', 'perc': 1.2}]}, {'regionid': 13, 'dnoregion': 'UKPN London', 'shortname': 'London', 'intensity': {'forecast': 320, 'index': 'very high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 3}, {'fuel': 'coal', 'perc': 3.1}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 73.1}, {'fuel': 'nuclear', 'perc': 10.6}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0.2}, {'fuel': 'solar', 'perc': 8.5}, {'fuel': 'wind', 'perc': 1.5}]}, {'regionid': 14, 'dnoregion': 'UKPN South East', 'shortname': 'South East England', 'intensity': {'forecast': 347, 'index': 'very high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 1.3}, {'fuel': 'coal', 'perc': 1.3}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 84.5}, {'fuel': 'nuclear', 'perc': 4.1}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0.7}, {'fuel': 'solar', 'perc': 6.9}, {'fuel': 'wind', 'perc': 1.2}]}, {'regionid': 15, 'dnoregion': 'England', 'shortname': 'England', 'intensity': {'forecast': 292, 'index': 'high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 9.3}, {'fuel': 'coal', 'perc': 3.4}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 63.4}, {'fuel': 'nuclear', 'perc': 11.3}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0.5}, {'fuel': 'solar', 'perc': 6.6}, {'fuel': 'wind', 'perc': 5.7}]}, {'regionid': 16, 'dnoregion': 'Scotland', 'shortname': 'Scotland', 'intensity': {'forecast': 42, 'index': 'very low'}, 'generationmix': [{'fuel': 'biomass', 'perc': 1.1}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 10.2}, {'fuel': 'nuclear', 'perc': 18.5}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 6.7}, {'fuel': 'solar', 'perc': 1.8}, {'fuel': 'wind', 'perc': 61.7}]}, {'regionid': 17, 'dnoregion': 'Wales', 'shortname': 'Wales', 'intensity': {'forecast': 352, 'index': 'very high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 89.4}, {'fuel': 'nuclear', 'perc': 0}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 1.6}, {'fuel': 'solar', 'perc': 4.1}, {'fuel': 'wind', 'perc': 4.9}]}, {'regionid': 18, 'dnoregion': 'GB', 'shortname': 'GB', 'intensity': {'forecast': 268, 'index': 'high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 8}, {'fuel': 'coal', 'perc': 2.9}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 58.9}, {'fuel': 'nuclear', 'perc': 11.5}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 1.2}, {'fuel': 'solar', 'perc': 5.9}, {'fuel': 'wind', 'perc': 11.6}]}]}

### Exercise - upload a file from your local drive

Visit the Kent and Medway Air Quality site: https://kentair.org.uk/

Collect a data file containing data on Ozone levels in Dover:

Open the site
Go to the Data page  
Launch the data selector tool  
Select:
*  Automatic monitoring data
*  Measurement data and simple statistics
*  Ozone
*  Daily mean
*  This month
*  Thurrock
*  Thurrock

Click on Download CSV

This should be downloaded into your Downloads folder.

NOW

Write a function that will allow you to upload the file and then read its contents into a dataframe.

To read an uploaded CSV file (which will be in bytes format) use:

```
df = pd.read_csv(io.BytesIO(uploaded['your filename']))
```


Display the dataframe and compare the contents with the output on the site you took the data from.

In [15]:
import pandas as pd
from google.colab import files
import io

def get_data():
  # upload a set of chosen files then read a specified file
  !rm NO2-daily-mean-2014-2021-Swale-Newington.csv
  uploaded = files.upload()
  df = pd.read_csv(io.BytesIO(uploaded['NO2-daily-mean-2014-2021-Swale-Newington.csv']))
  return df

get_data()

rm: cannot remove 'NO2-daily-mean-2014-2021-Swale-Newington.csv': No such file or directory

Saving NO2-daily-mean-2014-2021-Swale-Newington.csv to NO2-daily-mean-2014-2021-Swale-Newington.csv

    Unnamed: 0  Thurrock Unnamed: 2
0         Date     Ozone     Status
1   01/09/2022  60.46140    P µg/m³
2   02/09/2022  60.96032    P µg/m³
3   03/09/2022  59.99573    P µg/m³
4   04/09/2022  59.03946    P µg/m³
5   05/09/2022  39.99564    P µg/m³
6   06/09/2022  47.08189    P µg/m³
7   07/09/2022  49.24390    P µg/m³
8   08/09/2022  42.74956    P µg/m³
9   09/09/2022  23.06697    P µg/m³
10  10/09/2022  32.08088    P µg/m³
11  11/09/2022  43.23185    P µg/m³
12  12/09/2022  45.46870    P µg/m³
13  13/09/2022  31.34080    P µg/m³
14  14/09/2022  40.71228    P µg/m³
15  15/09/2022  26.00231    P µg/m³
16  16/09/2022  40.64576    P µg/m³
17  17/09/2022  37.08676    P µg/m³
18  18/09/2022  37.22812    P µg/m³
19  19/09/2022  42.10927    P µg/m³
20  20/09/2022  31.27428    P µg/m³

# ACTIVITIES

RUN ALL THE CODE CELLS ABOVE TO SEE WHAT THEY DO AND WHAT DATA THEY GET FOR YOU.

Now have a go at opening a few data sets yourself.

### Exercise 1
---

*  Open the datasets list: [here](https://docs.google.com/document/d/1cijDOCDixsYu-Rr9pC8STPPXado3xoFpgBAZgdDTLHs/edit?usp=sharing)  

*  Find a dataset that is a CSV file, copy the code above (for online CSV) into the code cell below

*  Run the code to open the data.

In [17]:
import pandas as pd

url = 'https://raw.githubusercontent.com/futureCodersSE/working-with-data/main/Data%20sets/page_views.csv'
opened = pd.read_csv(url)
print(opened)

            date   value
0     2016-05-09    1201
1     2016-05-10    2329
2     2016-05-11    1716
3     2016-05-12   10539
4     2016-05-13    6933
...          ...     ...
1299  2019-11-29  171584
1300  2019-11-30  141161
1301  2019-12-01  142918
1302  2019-12-02  220144
1303  2019-12-03  158549

[1304 rows x 2 columns]

### Exercise 2
---
Open the datasets list: [here](https://docs.google.com/document/d/1cijDOCDixsYu-Rr9pC8STPPXado3xoFpgBAZgdDTLHs/edit?usp=sharing)  

* Find a dataset that is an Excel file
* Copy the code above (for Excel files on Github) into the code cell below
* Change the line
```
df = pd.read_excel(url,sheet_name="Industry Migration") 
```
to 
```
df = pd.read_excel(url)
```
This will then open the first sheet in the Excel file, rather than a named sheet.

* Run the code to open the data.

In [20]:
import pandas as cv
#https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/Income-Data.xlsx?raw=true
import pandas as pd
url = "https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/Income-Data.xlsx?raw=true"
df = pd.read_excel(url,sheet_name=0)
df

   State  County  Population   Age  Income
0     TX     1.0        72.0  34.0    65.0
1     TX     2.0        33.0  42.0    45.0
2     TX     5.0        25.0  23.0    46.0
3     TX     6.0        54.0  36.0    65.0
4     TX     7.0        11.0  42.0    53.0
5     TX     8.0        28.0  25.0    62.0
6     TX     9.0        82.0  35.0    66.0
7     TX    10.0         5.0  40.0    75.0
8     MD    11.0        61.0  27.0    22.0
9     MD     2.0         5.0  23.0    69.0
10    MD     4.0        98.0  25.0    73.0
11    MD     3.0        64.0  29.0    75.0
12    MD     2.0        36.0  24.0    65.0
13    MD     1.0        24.0  25.0    66.0
14    MD     5.0        34.0  31.0    78.0
15    MD     6.0        89.0  22.0    81.0
16    MD     8.0        21.0  25.0    73.0
17    MD     7.0        21.0  30.0    62.0

### Exercise 3
---
*  Copy the code from the API delivered in JSON format
*  Change the URL to add /england to the end of it
*  Run the code to see the data for England only
*  Change it again to show data for Scotland, (/scotland)
*  Change it again to show data for Wales

In [33]:
import pandas as pd
import requests

url = "https://api.carbonintensity.org.uk/regional/wales"
json_data = requests.get(url).json()['data']
data_table = json_data[0]
df = pd.json_normalize(data_table['data'])
df
print(data_table)

{'regionid': 17, 'dnoregion': 'Wales', 'shortname': 'Wales', 'data': [{'from': '2022-09-21T09:00Z', 'to': '2022-09-21T09:30Z', 'intensity': {'forecast': 348, 'index': 'very high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 88.3}, {'fuel': 'nuclear', 'perc': 0}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 1.2}, {'fuel': 'solar', 'perc': 5.4}, {'fuel': 'wind', 'perc': 5.1}]}]}